.flex-container{
    $wh: 50px;
    padding: 20px;
    width: 600px;
    h1{
        font-weight: 500;
        font-size: 20px;
        margin-top: 30px;
    }
    h2{
        font-weight: 500;
        font-size: 18px;
        margin-top: 30px;
    }
    p{
        margin: 17px 0 2px;
    }
    code{
        font-size: 16px;
        background: #eee;
        padding: 5px;
        border-radius: 3px;
        margin: 3px 0 ;
        display: inline-block;
        color: #333;

    }
    .ul-list{
        width: 100%;
        list-style: inside;
    }

    .flexbox-item{
        display:block;
        width:  $wh;
        height: $wh;
        line-height: $wh;
        text-align: center;
        background: orange;
        margin: 10px;
        &:nth-child(2n){
            height: 1.2 * $wh;
            line-height: 1.2 * $wh;
            width: 1.4 * $wh;
        }
        &:nth-child(3n){
            height: 1.3 * $wh;
            width: 0.9 * $wh;
            line-height: 1.3 * $wh;
        }
    }

}
.flexbox{
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px 0;
    padding: 5px ;
}
