<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript">
        <%= 
        compilation.assets[htmlWebpackPlugin.files.chunks.main.entry.substr(htmlWebpackPlugin.files.publicPath.length)].source() 
        %>
    </script>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <!-- <%= JSON.stringify(htmlWebpackPlugin) %> -->
    <!-- <br>
    <br>
    <br> -->
    <h1>htmlWebpackPlugin</h1>
    <% for (var key in htmlWebpackPlugin) { %>
        - <%= key %> 
        <br>
    <% } %>
    <br>
    <br>
    <br>
    <h2>files</h2>
    <% for (var key in htmlWebpackPlugin.files) { %>
        - <%= key %> : <%= JSON.stringify(htmlWebpackPlugin.files[key]) %>
        <br>        
   <% } %>
    <br>
    <br>
    <br>
    <h2>options</h2>
    <% for (var key in htmlWebpackPlugin.options) { %>
        - <%= key %> : <%= JSON.stringify(htmlWebpackPlugin.options[key]) %>
        <br>
    <% } %>

    <% for (var k in htmlWebpackPlugin.files.chunks) { %>
        <% if (k !== 'main') { %>
        <script src="<%= JSON.stringify(htmlWebpackPlugin.files.chunks[k].entry) %>"></script>
        <% } %>
    <% } %>
</body>
</html>