$toastPrefixCls:'am-toast';
$toast-zindex: 2000;
$font-size-base: 14px;

.am-toast {
    position: fixed;
    width: 100%;
    z-index: $toast-zindex;
    font-size: $font-size-base;
    text-align: center;

    & > span {
        max-width: 50%;
    }

    &.am-toast-mask {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        top: 0;
    }

    &.am-toast-nomask {
        position: fixed;
        max-width: 50%;
        width: auto;
        left: 50%;
        top: 50%;

        .am-toast-notice {
            transform: translateX(-50%) translateY(-50%);
        }
    }

    &-notice-content{
        .am-toast-text{
            min-width: 60px;
            border-radius: 3px;
            color: #fff;
            background-color: rgba(58, 58, 58, 0.9);
            line-height: 1.5;
            padding: 8px 15px;

            &.am-toast-text-icon {
                border-radius: 5px;
                padding: 10px;

                .am-toast-text-info {
                    margin-top: 5px;
                }
            }
        }
    }
}